Checks: '-*,bugprone-*,cert-*,clang-analyzer-*,clang-diagnostic-*,concurrency-*,cppcoreguidelines-*,hicpp-*,llvm-*,misc-*,-misc-unused-parameters,modernize-*,performance-*,portability-*readability-identifier-naming'
FormatStyle: llvm
