name: lint

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: |
          sudo apt-get install -y clang-tidy

      - run: |
          cmake -B ${{ github.workspace }}/build -D CMAKE_BUILD_TYPE=Release -D CMAKE_EXPORT_COMPILE_COMMANDS=YES -S ${{ github.workspace }}
      - uses: compnerd/clang-tidy-linter-action@main
        with:
          build: ${{ github.workspace }}/build
